.container
  h4
      | プロフィール編集

  .row.media
    = form_for(@user) do |f|
      .post-left.d-flex.mr-3
      .form-group
      = attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "150x100"
      = f.attachment_field :profile_image, class: 'form-control-file'
      .post-right.media-body
      .form-group
      = f.label :name, "ユーザーネーム"
      = f.text_field :name, class: 'form-control'
      .form-group
      = f.label :introduction, "自己紹介"
      = f.text_area :introduction, class: 'form-control'
      br
      = link_to 'キャンセル', user_path(@user)
      = f.submit '変更を保存', class: 'btn btn-primary'