<div class="container">
	<div class="row">
		<%= search_form_for @search do |f| %>
      <%= f.search_field :name_cont, class: "form-control", placeholder: "Search" %>
      <%= f.submit '検索', class: "btn btn-success" %>
    <% end %>
   </div>

  <div class="row">
		<% @users.each do |user| %>
			<%= render "user_card", user: user %>
		<% end %>
	</div>
</div>