<div class="container">
	<div id="jscroll">
		<%= render "user_list", users: @users %>
		<%= link_to_next_page @users, '次のページ', class: "next" %>
	</div>
	<button class="button" type="button">もっと見る</button>
	<%= render "shared/scroll_setting" %>
</div>