<div class="card-body p-0">
	<div class="img" alt="Card image">
		<%= attachment_image_tag post.post_images.first, :image, fallback: "no_image.jpg", size: "360x360", class: "rounded-lg" %>
	</div>
</div>
