<div class="col-6 mx-auto bg-white">
	<div class="card border-0 mt-3">
		<%= render "posts/card_header", post: post %>
		<%= render "posts/timeline_card_body", post: post %>
		<%= render "posts/card_footer", post: post %>
	</div>
</div>