.container
	.row.media
		= form_with model: @post, local: true do |f|
			.post-left.d-flex.mr-3
			.form-group
			- @post.post_images.each do |image|
	  			= attachment_image_tag image, :post_image, fallback: "no_image.jpg", size: "200x200"
			= f.attachment_field :post_images_post_images, multiple: true, class: 'form-control-file'

			.post-right.media-body
			.form-group
			= f.label :title
			= f.text_field :title, class: 'form-control'

			.form-group
			= f.label :tag_list
			= f.text_area :tag_list, value: @post.tag_list.join(','), class: 'form-control'

			.form-group
			= f.label :text
			= f.text_area :text, class: 'form-control'

			br
			= link_to 'キャンセル', post_path
			= f.submit '変更を保存', class: 'btn btn-primary'